<div class="m-5">
  <%= render 'shared/search_bar' %>

  <div class="m-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

    <%= render @recipes %>
  </div>
  <div class="mt-4 text-center">
    <%= raw(pagy_nav(@pagy)) %>
  </div>
</div>

